{% extends 'base.html' %} {% block content %}

<form action="" method="post">
	{{ form.hidden_tag() }}

	<legend>Join Now!</legend>
	<div class="form-group">
		{{ form.user.label }} {{ form.user(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.email.label }} {{ form.email(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.Password.label }} {{ form.Password(class="form-control") }}
	</div>
	<div class="form-group">
		{{ form.confirm.label }} {{ form.confirm(class="form-control") }}
	</div>
	<div class="form-group">{{ form.Submit(class="btn btn-primary") }}</div>
</form>

{% endblock content %}
